* {
  margin: 0 auto;
}

#root,
html,
body {
    background-color: #0c0c0c;
    color: #fff;
    font-family: acumin, sans-serif;
}

.dark-mode {
  background-color: #000;
  color: white;
  transition: all 0.3s ease;
}

.light-mode {
  background-color: white;
  color: black;
  transition: all 0.3s ease;
}
